<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201406858875-iae4s5c8d1jjs3803ii0tlrta3347cj3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201406858875-iae4s5c8d1jjs3803ii0tlrta3347cj3</string>
	<key>API_KEY</key>
	<string>AIzaSyA9ZCGW9wG0oLUAuxVY9Mf3GTKyRdzomBA</string>
	<key>GCM_SENDER_ID</key>
	<string>201406858875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>keithc.Printeroo</string>
	<key>PROJECT_ID</key>
	<string>printeroo</string>
	<key>STORAGE_BUCKET</key>
	<string>printeroo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201406858875:ios:51efab682af550f9fe84de</string>
</dict>
</plist>